#email-link {
    font-size: 23px;

}

.mail {
    display: flex;
    align-items: center;
    gap: 9px;
    justify-content: center;


}

.mail img {
    margin-left: -54px;
}

#linkedin-link {
    font-size: 23px;
}

.linkedin {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-bottom: 20px;

}

.message-heading {
    margin-top: 40px;
    font-size: 23px;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
    gap: 4px;
  }
  
  .form-group label {
    
    margin-top: 10px;
    text-align: center;
    align-self: center; 
    
  }

  
  .form-group input,
  .form-group textarea {
    padding: 5px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
  }

.mail {
    display: flex;
    align-items: center;
    gap: 9px;
    justify-content: center;


}

.mail img {
    margin-left: -54px;
}

#linkedin-link {
    font-size: 23px;
}

.linkedin {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-bottom: 20px;

}

.message-heading {
    margin-top: 40px;
    font-size: 23px;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
    gap: 4px;
  }
  
  .form-group label {
    
    margin-top: 10px;
    text-align: center;
    align-self: center; 
    
  }

  
  .form-group input,
  .form-group textarea {
    padding: 5px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
  }

#from-label {
    padding-right: 558px;
    
}

#message-label {
    padding-right: 531px;
}


