/* body with minimalistic style */
body {
  font-family: Arial, sans-serif;
  background-color: #d3d3d3;
  color: #333;
  margin: 0;  /* remove default margin */
  text-align: center;
}

/* the title underneath nav bar */
.title {
  text-align: center;
  padding: 20px;
  color: #333;
}

/* header styles */
.header {
  padding: 20px;  /* some padding */
  text-align: center;  /* center the text */
  background: #004d4d;  /* dark teal background */
  color: darkgray;
  margin-bottom: 0;  /* remove margin bottom */
}

/* smaller text within header */
.header p {
  font-size: 20px;
  margin: 0;
}

/* large text within header */
.header h1 {
  font-size: 60px;
  margin: 20px;  /* remove margin bottom */
}

/* navigation bar styles */
header nav {
  background-color: #333;  /* dark background color */
  margin-top: 0;  /* remove margin top */
  
  overflow: hidden;
}

/* remove default styles from navigation list */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;  /* remove margin */
  padding: 0;  /* remove padding */
}

/* space out navigation items */
nav ul li {
  margin: 0;
}

/* style navigation links */
nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block; /* Add this */
  padding: 14px 16px; /* Add this */
  transition: background-color 0.3s ease;  /* smooth transition for hover effect */
}

/* darken navigation links on hover */
nav ul li a:hover {
  background-color: #ddd;
  color: #333;
}

/* change color of active navigation link */
.active {
  background-color: #89CFF0;
  color: #fff;
}

/* section styles */
section {
  padding: 40px;
}

/* larger text within header */
header h2 {
  font-size: 27px;
  text-decoration: underline;
}

/* paragraph text within sections */
section p {
  font-size: 16px;
  line-height: 1.5;
}
