<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MGV - Education</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="../static/css/education.css">
    </head>
    <body>
        <div class="header">
            <p>the story of:</p>
            <h1>Mauricio Garcia Villanueva</h1>

        </div>
        <header>
            <nav>
                <ul>
                    <!-- 
Home: landing page of your website, providing an overview or introduction to your portfolio and guiding visitors to explore other sections.
About Me: share information about yourself, your background, skills, experiences, and any other details you want to highlight.
Portfolio: showcasing your work or projects. You can include descriptions, images, and links to demonstrate your skills and expertise.
Education: educational background, such as degrees, certifications, courses, or any relevant academic achievements.
Contact: gives ontact information or a form for visitors to reach out to you. 
-->
                    <li><a href="../templates/home.html">Home</a></li>
                    <li><a href="../templates/aboutme.html">About Me</a></li>
                    <li><a href="../templates/experience.html">Professional
                            Experience</a></li>
                    <li><a href="../templates/education.html" class="active">Education</a></li>
                    <li><a href="../templates/contact.html">Contact Me</a></li>

                </ul>
            </nav>
            <section id="title" class="title">
                <h2>Education</h2>
                <a href="#" class="collapsible-heading">The University of Texas at Austin</a>
                <div class="collapsible-content">
                    <h4>Aug 2021 - May 2025</h4>
                    <h5>Bachelor's of Science in:</h5>
                    <h7>Computer Science</h7>
                    <h5>Double Minor in:</h5>
                    <h6>Applied Statistical Modeling and Data Science</h6>
                    <img src="../static/images/ut_emblem.png" alt="Description of the image" class="utlogo" width="300" height="300">
                    <p class="excerpt">Ranked among the top 8 universities nationally for computer science, AI, and programming language schools according to usnews.com (2023), the University of Texas at Austin (UT Austin) stands proudly among the most prestigious institutions in the field. Surpassing even Ivy League schools, UT Austin's dedication to excellence in these areas has earned it a well-deserved reputation. As a student fortunate enough to attend such a renowned university, I feel honored and privileged. Moreover, receiving the esteemed Dell Scholar award amidst fierce competition has deepened my gratitude for the opportunities presented by UT Austin.</p>
                    <h3></h3>
                </div>
            </section>
            </header>

            <script src="../static/js/education_scripts.js"></script>
        </body>
    </html>
