<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MGV - Home</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="../static/css/home.css">
    </head>
    <body>
        <div class="header">
            <p>the story of:</p>
            <h1>Mauricio Garcia Villanueva</h1>

        </div>
        <header>
            <nav>
                <ul>
                    <!-- 
Home: landing page of your website, providing an overview or introduction to your portfolio and guiding visitors to explore other sections.
About Me: share information about yourself, your background, skills, experiences, and any other details you want to highlight.
Portfolio: showcasing your work or projects. You can include descriptions, images, and links to demonstrate your skills and expertise.
Education: educational background, such as degrees, certifications, courses, or any relevant academic achievements.
Contact: gives ontact information or a form for visitors to reach out to you. 
-->
                    <li><a href="../templates/home.html" class="active">Home</a></li>
                    <li><a href="../templates/aboutme.html">About Me</a></li>
                    <li><a href="../templates/experience.html">Professional Experience</a></li>
                    <li><a href="../templates/education.html">Education</a></li>

                    <li><a href="../templates/contact.html">Contact Me</a></li>
                </ul>
            </nav>
            <section id="title" class="title">
                <h2>Home</h2>
                <h3>Brief Overview</h3>
                <p>My name is Mauricio Garcia Villanueva and I am a
                    Mexican-American
                    software engineer and
                    data scientist based in Austin, TX. I have a strong passion
                    for using technology to improve people's quality of life,
                    and I'm particularly interested in the potential of
                    artificial intelligence and machine learning to
                    revolutionize the ways we live and work. </p>

                <p>The two languages I love working with the most are Java and
                    Python.
                    I have used these two in a plethora of environments; for
                    example,
                    I have used Java to design REST APIs while being mentored by
                    Netflix as well
                    as robotics for my own robotics team, and I have used Python
                    to practice competitive coding/algorithms and
                    work on machine learning tasks. </p>

                <h4>The Journey into the Tech World</h4>
                <p>My journey into the tech industry has been one of
                    self-improvement and resilience, learning and adapting
                    independently every step of the way. Coming from humble
                    beginnings, I appreciate every opportunity and challenge
                    that has come my way, as they have been stepping stones to
                    my growth both personally and professionally. I am first
                    generation when it comes to American universities and the
                    tech
                    industry.</p>
                <h4>This Website</h4>
                <p>This website was made entirely by me, using a full-stack
                    approach.
                    For the front-end, I used the foundational building blocks:
                    JavaScript,
                    HTML, CSS.
                    For the back-end, I used:
                </p>
                <h5>Sales Experience</h5>
                <p><p>I have many years of experience in sales which honed my
                        skills as a fantastic
                        communicator, collaborative team member, understanding
                        listener, and patient problem solver. These qualities
                        have
                        proven invaluable in all of my endeavors.</p></p>
                <h6>Pledge to leave the world better than I found it</h6>
                <p>Whether it's developing robust back-end systems, delving into
                    the intricacies of machine learning algorithms, or
                    leveraging data analysis to drive decision-making, I am
                    committed to using my skills to create innovative and
                    efficient solutions. As I continue my journey, I remain
                    dedicated to using my abilities to make a positive impact in
                    the world, one line of code at a time.
                    Possible addition: While my time at Apple, something that
                    resonated
                    with me was this line. I pledge to leave the world better
                    than I found it.</p>

            </section>
        </header>

        <script src="script.js"></script>
    </body>
</html>
